* {
    box-sizing: border-box;
}

body {
    margin: 0;
    position: relative;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    color: #555;
    min-height: 100vh;
}

/* Typography */

a {
    text-decoration: none;
    font-size: 13px;
    color: rgb(0,0,150);
    cursor: pointer;;
}

a:hover, a:focus {
    text-decoration: underline;
}

/*  Form  */

input[type="text"]{
    border: 1px solid #ddd;
    border-radius: 20px;
    padding: 5px 15px;
    width: 550px;
    height: 45px;
    margin-bottom: 30px;
}


input[type="text"]:focus{
    outline: none;
}

input[type="text"]:hover{
    border: none;
    box-shadow: 1px 3px 3px rgba(0,0,0,.3);
}

input[type="submit"]{
    border: none;
    padding: .75em 1.5em;
    border-radius: 5px;
    color: inherit;
}

input[type="submit"]:hover {
    border: 1px solid #aaa;
}

/* Layout */

header {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    align-items: center;
}

.right-header {
    display: flex;
    align-items: center;;
}

header a, footer a {
    margin-right: 18px;
    color: #555;
}

header a:hover, header a:focus {
    text-decoration: underline;
    cursor: pointer;
    color: #888;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    max-width: 600px;
}

.search-setting-buttons {
    margin-bottom: 20px;
}

.google-logo {
    margin-top: 125px;
    margin-bottom: 25px;
}

.profile-pic {
    padding: 3px;
    border-radius: 50%;
    border-left: 2px solid yellow;
    border-top: 2px solid red;
    border-right: 2px solid blue;
    border-bottom: 2px solid green;
}

footer {
    border-top: 1px solid #ddd;
    padding: 15px;
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

footer a {
    font-size: 14px;
}